/**
 * @Author: Your name
 * @Date:   2023-03-02 19:13:17
 * @Last Modified by:   Your name
 * @Last Modified time: 2023-03-22 12:55:33
 */
// The very top of the site, element that usually includes
// the site navigation and search for example.
.site-header {

  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-white);
  position: relative;
  z-index: 15;
  border-bottom: 1px solid var(--color-gray);

  .header-wrapper {
    margin-left: auto;
    margin-right: auto;
    // max-width: $width-grid-base;
    // align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--padding-site-header-vertical);
    // padding-left: var(--padding-container-horizontal);
    // padding-right: var(--padding-container-horizontal);
    padding-top: var(--padding-site-header-vertical);
    padding-left: 15px !important;
    padding-right: 15px !important;

    @media (min-width: $width-max-mobile) {
      padding-left: calc((100vw - 1220px)/2) !important;
      padding-right: calc((100vw - 1220px)/2) !important;
    }
  }

  @media (max-width: $width-max-mobile) {
    --padding-container-horizontal: 2rem;
  }
}

.site-title {
  line-height: 0;
  margin: 0;

  a {
    align-items: center;
    display: flex;
  }
}
