/**
 * @Author: Your name
 * @Date:   2023-03-02 13:14:45
 * @Last Modified by:   Your name
 * @Last Modified time: 2023-03-03 04:54:14
 */
// General paragraphs
p {
  color: var(--color-paragraph);
  line-height: var(--line-height-paragraph);
}

.small-text {
  font-size: var(--font-size-14);
}
